.nav_bar-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 120px;

    padding: 0px var(--space-lg);

    color: var(--color-bg);
    text-transform: uppercase;

    transition: all 0.3s cubic-bezier(0.25, 1.25, 0.5, 1);

    user-select: none;
}

.nav_bar-ul a {
    color: inherit;           /* nasledi boju iz li ili roditelja */
    text-decoration: none;    /* ukloni underline */
}

.nav_bar-container:hover{
    background-color: rgba(255, 255, 255, 0.9);
    color: var(--color-text);
}

.nav_bar-logo{
    height: 120px;

    will-change: transform;
    backface-visibility: hidden;
    
    transition: all 0.3s cubic-bezier(0.25, 1.25, 0.5, 1);
}
.nav_bar-logo:hover{
    scale: 1.03;
}

.nav_bar-ul{
    list-style-type: none;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: var(--space-xl);

    font-size: var(--font-size-md);
}

.nav_bar-ul li {
    display: inline-block;
    padding: var(--space-sm) 0;
    cursor: pointer;

    text-transform: uppercase;
    letter-spacing: 1.5px;

    will-change: transform;
    backface-visibility: hidden;

    transition: all 0.3s cubic-bezier(0.25, 1.25, 0.5, 1);
}

.nav_bar-ul li:hover {
    transform: translateY(-3.5px);
    color: var(--color-brand-dark-purple);
}

:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* da bude uvek iznad videa */

  /* background: rgba(255, 255, 255, 0.1);  
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); */
}

/* ------------------------------- */
/* HAMBURGER DEFAULT STATE */
/* ------------------------------- */
#nav-toggle {
  display: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.hamburger span {
  width: 28px;
  height: 3px;
  background-color: var(--color-brand-dark-purple);
  border-radius: 4px;

  transition: all 0.3s cubic-bezier(0.25, 1.25, 0.5, 1);
}

/* ------------------------------- */
/* MOBILE MODE (do 640px) */
/* ------------------------------- */
@media (max-width: 1024px) {
  /* Sakrij desktop navigaciju */
  .nav_bar-ul,
  btn-primary {
    display: none;
  }

  /* Prikazi hamburger */
  .hamburger {
    display: flex;
  }

  /* Kada je checkbox čekiran — prikaži meni */
  #nav-toggle:checked ~ .nav_bar-ul {
    display: flex;
    position: absolute;
    top: 120px;     /* ispod nav bara */
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);
    padding: var(--space-lg);
    gap: var(--space-md);
    text-align: left;
  }

  /* Hamburger animacija */
  #nav-toggle:checked + .hamburger span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }

  #nav-toggle:checked + .hamburger span:nth-child(2) {
    opacity: 0;
  }

  #nav-toggle:checked + .hamburger span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }


  /* Bonus fixes */
  a, li{
    color: var(--color-text);
  }
}