.nav_bar-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 120px;

    padding: 0px var(--space-lg);

    color: whitesmoke;
    text-transform: uppercase;

    transition: all 0.3s cubic-bezier(0.25, 1.25, 0.5, 1);
}

.nav_bar-container:hover{
    background-color: rgba(255, 255, 255, 0.9);
    color: var(--color-text);
}

.nav_bar-logo{
    height: 120px;

    will-change: transform;
    backface-visibility: hidden;
    
    transition: all 0.3s cubic-bezier(0.25, 1.25, 0.5, 1);
}
.nav_bar-logo:hover{
    scale: 1.03;
}

.nav_bar-ul{
    list-style-type: none;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: var(--space-xl);

    font-size: var(--font-size-md);
}

.nav_bar-ul li {
    display: inline-block;
    padding: var(--space-sm) 0;
    cursor: pointer;

    text-transform: uppercase;
    letter-spacing: 1.5px;

    will-change: transform;
    backface-visibility: hidden;

    transition: all 0.3s cubic-bezier(0.25, 1.25, 0.5, 1);
}

.nav_bar-ul li:hover {
    transform: translateY(-3.5px);
    color: var(--color-brand-dark-purple);
}

:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* da bude uvek iznad videa */

  /* background: rgba(255, 255, 255, 0.1);  
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); */
}