<div class="content-container">
    <div class="text-container">
        <div class="section-heading">
            <h2>o ordinaciji</h2>
            <p>Infinity Dental Care</p>
        </div>
        <div class="pharagraph-container">
            <p>
                Infinity Dental Care ordinacija, osnovana 2021. godine, mesto je gde se stomatološka stručnost, savremena tehnologija i pažljivo osmišljen ambijent spajaju u jedinstveno iskustvo nege. Naša filozofija je jednostavna – svaki osmeh zaslužuje individualan pristup, besprekoran kvalitet i posvećenost najvišim estetskim standardima.

            </p>
            <p>
                U prijatnom i elegantnom prostoru ordinacije, trudimo se da se svaki pacijent oseća sigurno, opušteno i uvaženo. Verujemo da stomatološki pregled ne mora biti neprijatan, zbog čega stvaramo toplo i moderno okruženje koje uliva poverenje već pri prvom dolasku.
            </p>
            <p>
                Bilo da dolazite na rutinski pregled, estetski tretman ili zahtevniju intervenciju, možete računati na profesionalnu uslugu, najkvalitetnije materijale i savremene metode rada. Naša misija je da vam pomognemo da očuvate zdravlje zuba i desni, ali i da se osmehujete sa samopouzdanjem – svaki dan.
            </p>
            <div class="spacer-xl"></div>
            <btn-secundary [text]="'Saznaj Vise'" (clicked)="btnClicked()"></btn-secundary>
        </div>
    </div>

    <div class="img-container">
        <img src="assets/about01.jpg" alt="dodaj"
             class="img-shadow">
    </div>
</div>