<div class="content-container">
    <div class="section-heading">
        <h2>o ordinaciji</h2>
        <p>Infinity Dental Care</p>
    </div>
    <div class="text-image_container">
        <div class="text-container">
            <p>
                Infinity Dental Care, ordinacija osnovana 2021.god. je mesto gde se spoj stomatološke stručnosti, savremene tehnologije i pažljivo osmišljenog ambijenta pretvara u jedinstveno iskustvo nege. Naša filozofija je jednostavna – svaki osmeh zaslužuje individualan pristup, besprekoran kvalitet i pažnju najviših estetskih standarda.
            </p>
            <p>
                U prijatnom i elegantnom prostoru ordinacije, posvećeni smo tome da se svaki pacijent oseća sigurno, opušteno i uvaženo.
            </p>
            <p>
                Verujem da stomatološki pregled ne mora biti neprijatno iskustvo. Zato sam stvorila prijatno, toplo i moderno okruženje u kojem se svaki pacijent oseća sigurno i opušteno. Bilo da dolazite na rutinski pregled, estetski tretman ili kompleksniju intervenciju, možete računati na profesionalnu uslugu, najkvalitetnije materijale i savremene metode rada.
            </p>
            <p>
                Moja misija je da Vam pomognem da sačuvate zdravlje zuba i desni, ali i da se osmehujete sa samopouzdanjem – svaki dan.
            </p>
            
            <div class="spacer-xl"></div>

            <btn-secundary [text]="'Saznaj Vise'" (clicked)="btnClicked()"></btn-secundary>
        </div>
        <div class="img-container">
            <img src="assets/about01.jpg" alt="dodaj"
                 class="img-shadow">
        </div>
    </div>
</div>