.content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.text-image_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: var(--space-2xl);
}

.text-container{
    text-align: center;
}
.text-container p{
    margin-bottom: var(--space-sm);
}


.img-container{
    display: flex;
    align-items: center; justify-content: center;
}

.img-container img{
    height: 55vh;

    border-radius: 1.5rem;
}

btn-secundary{
    display: inline-block;
}

@media (min-width: 640px){
    .text-image_container{
        flex-direction: row;

        gap: 0px;
    }

    .text-container{
        width: 60%;

        padding: 0 var(--space-lg);
    }
    .img-container{
        width: 40%;
    }
}