button{
    font-size: var(--font-size-md);
    text-transform: uppercase;

    padding: var(--space-sm) var(--space-md);
    border-radius: 1rem;
    border: 2px solid var(--color-brand-dark-purple);
    background-color: var(--color-brand-dark-purple);
    color: var(--color-bg);

    letter-spacing: 1px;

    margin-bottom: 2px;

    will-change: transform;
    backface-visibility: hidden;

    transition: all 0.3s cubic-bezier(0.25, 1.25, 0.5, 1);
}

button:hover{
    border: 2px solid var(--color-brand-dark-purple);
    background-color: transparent;
    color: var(--color-brand-dark-purple);

    scale: 1.035;
}