.video-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Video i overlay */
.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-background .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(145, 145, 145);
  opacity: 0.7;
}

.landing-content {
  position: relative;
  z-index: 1;
  color: whitesmoke;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 var(--space-md);

  user-select: none;
}

.landing-content h1 {
  font-size: var(--font-size-3xl);
  font-weight: 400;
  margin-bottom: var(--space-md);
}

.landing-content h3 {
  font-size: var(--font-size-xl);
  margin-bottom: var(--space-2xl);
}

.about-section {
  position: relative;
  padding: var(--space-lg) 0px;
  background: var(--color-bg, #fff);
  color: var(--color-text, #222);
}
