<div class="video-section">
  <div class="video-background">
    <video autoplay muted loop playsinline>
      <source src="assets/ordinacija01 - bw.mp4" type="video/mp4">
    </video>
    <div class="overlay"></div>
  </div>

  <div class="landing-content">
    <h1>Infinity Dental Care</h1>
    <h3>Vaš osmeh je naša misija</h3>
    <btn-primary [text]="'Pozovite nas'" (clicked)="btnCtaClicked()"></btn-primary>
  </div>
</div>

<global-padding>
  <section class="about-section">
    <app-about></app-about>
  </section>
</global-padding>