button{
    color: var(--color-brand-primary);
    background-color: transparent;
    border: 1px solid var(--color-brand-primary);
    border-radius: 2rem;

    font-size: var(--font-size-lg);
    text-transform: capitalize;
    padding: var(--space-xs) var(--space-sm);
    padding-left: var(--space-md);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

svg{
    width: 20px;
    margin-top: 2px;
}