/* Import fontova  Montserrat i Lato*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

/* Default Fonts */
* {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

/* Default Text-Size's */
body {
  font-size: var(--font-size-md);
}

h1 {
  font-size: var(--font-size-3xl);
}

h2 {
  font-size: var(--font-size-2xl);
}

h3 {
  font-size: var(--font-size-xl);
}

p {
  font-size: var(--font-size-md);
}

/* Cursor settings */
button, li, a {
  cursor: pointer;
}

.global-padding{
  padding: 0px var(--space-3xl);
}

/* GLOBAL STYLE VARIABLES */
:root{
    /* Color pallete */
    --color-text: #121212;
    --color-text-light: #626262;
    --color-bg: #ffffff;

    --color-brand-primary: rgb(197, 138, 149); 
    --color-brand-secundary: rgb(237, 204, 217);
    /* --color-brand-dark-purple: rgb(162, 92, 104);
    --color-brand-dark-purple: rgb(155, 63, 77); */

    /* Base font size */
    --font-size-xs: 0.65rem;
    --font-size-sm: 0.75rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 1.6rem;
    --font-size-2xl: 2rem;
    --font-size-3xl: 3rem;

    /* Spacing scale */
    --space-xxs: 0.2rem;
    --space-xs: 0.4rem;
    --space-sm: 0.8rem;
    --space-md: 1rem;
    --space-lg: 1.5rem;
    --space-xl: 2rem;
    --space-2xl: 3rem;
    --space-3xl: 4rem;
}

/* ≥480px */
@media (min-width: 480px) {
  :root {
    --font-size-xs: 0.7rem;
    --font-size-sm: 0.8rem;
    --font-size-md: 0.95rem;
    --font-size-lg: 1.2rem;
    --font-size-xl: 1.8rem;
    --font-size-2xl: 2.4rem;
    --font-size-3xl: 3.4rem;

    --space-xxs: 0.25rem;
    --space-xs: 0.5rem;
    --space-sm: 0.9rem;
    --space-md: 1.1rem;
    --space-lg: 1.6rem;
    --space-xl: 2.4rem;
    --space-2xl: 3.4rem;
    --space-3xl: 4.5rem;
  }
}

/* ≥640px */
@media (min-width: 640px) {
  :root {
    --font-size-xs: 0.75rem;
    --font-size-sm: 0.85rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 2rem;
    --font-size-2xl: 2.6rem;
    --font-size-3xl: 3.8rem;

    --space-sm: 1rem;
    --space-md: 1.25rem;
    --space-lg: 1.8rem;
    --space-xl: 2.8rem;
    --space-2xl: 3.6rem;
    --space-3xl: 5rem;
  }
}

/* ≥768px */
@media (min-width: 768px) {
  :root {
    --font-size-md: 1.05rem;
    --font-size-lg: 1.3rem;
    --font-size-xl: 2.2rem;
    --font-size-2xl: 2.8rem;
    --font-size-3xl: 4.2rem;

    --space-lg: 2rem;
    --space-xl: 3.2rem;
    --space-2xl: 4.2rem;
    --space-3xl: 5.5rem;
  }
}

/* ≥1024px */
@media (min-width: 1024px) {
  :root {
    --font-size-md: 1.1rem;
    --font-size-lg: 1.35rem;
    --font-size-xl: 2.3rem;
    --font-size-2xl: 3.2rem;
    --font-size-3xl: 4.4rem;

    --space-xl: 3.4rem;
    --space-2xl: 4.6rem;
    --space-3xl: 5.8rem;
  }
}

@media (min-width: 1280px) {
  :root {
    --font-size-xs: 0.75rem;
    --font-size-sm: 0.8rem;
    --font-size-md: 1.1rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 2.4rem;
    --font-size-2xl: 3.5rem;
    --font-size-3xl: 4.5rem;

    --space-xxs: 0.25rem;
    --space-xs: 0.5rem;
    --space-sm: 1rem;
    --space-md: 1.25rem;
    --space-lg: 2rem;
    --space-xl: 3rem;
    --space-2xl: 4rem;
    --space-3xl: 6rem;
  }
}
